/* Jumbor Header Home Page*/
.jumboHeaderText {
  text-align: center;
  /*vertical-align: middle;*/
  padding-top: 20px;
  color: #FFFFFF;
  /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
}

/* Navbar Logo */
.navLogo {
  max-width: 100%;
  max-height: 30px;
}

/* Footer Logo */
.footerLogo {
  max-width: 100%;
  max-height: 75px;
}

.text-white {
  color: #ffffff;
}

.TOPcenter {
  text-align: center;
}

/* Spending Account Nav Option */
.spendingaccounts {
  padding: 15px 8px;
  color: #ffffff;
  font-size: 75%;
}

.spendingaccounts-xs {
  padding: 18px 0px 0px 0px;
  color: #ffffff;
  font-size: 1.7vmin;
}

/* Fixed Product Image */
.fixedProductImage {
  position: fixed !important;
}

/* Alters image size on main product page - overrides same class in bootstrap-451.css */
.product-image-large {
  margin: 0 auto;
  max-height: 400px;
  max-width: 100%;
}

/* Check Out Buttons */
.checkoutShopButton {
  font-size: 1.8vmax;
  text-transform: uppercase;
}

.checkoutCancelButton {
  font-size: 1.8vmax;
  text-transform: uppercase;
}

.checkoutSaveButton {
  font-size: 1.5vmax;
  text-transform: uppercase;
}

.checkoutCheckOutButton {
  font-size: 1.5vmax;
  text-transform: uppercase;
}

/* Shopping Cart Circle */
.shoppingCartNavBar li a i:first-of-type {
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  padding: 10px;
  margin-top: -10px;
}

/* Category Title */
.TPCategoryTitle {
  color: #0B3648;
  font-size: 10pt;
  font-style: bold;
  /* offset-x | offset-y | blur-radius | color */
  /*text-shadow: 2px 2px 5px #000000;*/
}

/* Fixes row issues with Category List page */
.panel-category-list ul li a h5 {
  height: 50px;
}

/* Fixes row issues with Product List page */
.panel-product-list ul li h3 {
  font-size: 15px;
}

/* List Contact Us no bullets */
.contactUsList h3 p ul li {
  list-style-type: none;
}

/*Changes size of images on category page*/
.thumbnail img {
  max-height: 100px;
  /*must match smallest size of thumbnail image*/
  max-width: 100%;
  margin: 0 auto 15px;
}

/* This counters the spacing issue on the product list page with <a> links */
.aLinkSpacingFix p a {
  padding: 0em !important;
  display: inline !important;
  text-decoration: none;
}

/* Search Bar */
.customSearchBar {
  float: right !important;
  width: 65%;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/*Gives items a list style*/
.prod-desc-list-style ul {
  list-style-type: circle;
  margin-left: 25px;
}

/*Footer CSS*/
* {
  margin: 0;
}

.flushFooter, .push {
  height: 210px;
  /* .push must be the same height as .footer */
}

.TopWrapper {
  min-height: 100%;
  margin: 0 auto -210px;
  /* the bottom margin is the negative value of the footer's height */
}

.TopFooter {
  font-size: 13pt;
  margin-top: 0px;
  clear: both;
  background-color: #f47920;
  height: 150px;
  width: 100%;
  bottom: 0;
  padding: 25px 0px;
}

.TopFooter a {
  color: #ffffff;
}

.TopFooter p {
  color: #ffffff;
}

.TopxsFooter {
  margin-top: 0px;
  clear: both;
  background-color: #f47920;
  height: 150px;
  bottom: 0;
  padding: 25px 0px;
}

.TopxsFooter a {
  color: #ffffff;
}

.TopxsFooter p {
  color: #ffffff;
}

.TopxxsFooter {
  margin-top: 0px;
  clear: both;
  background-color: #f47920;
  height: 150px;
  bottom: 0;
  padding: 25px 0px;
}

.TopxxsFooter a {
  color: #ffffff;
}

.TopxxsFooter p {
  color: #ffffff;
}

.footLeft {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 12px;
  margin-bottom: 0px;
  padding-top: 0em;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 55px;
  float: left;
}

.xsFootLeft {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 0em;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 25px;
  float: left;
  width: 100%;
  max-width: 225px;
}

.xxsFootLeft {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-top: 0em;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 20px;
  float: left;
  width: 100%;
  max-width: 180px;
}

.footRight {
  margin-right: 0em;
  margin-left: 0em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 3px 25px 0px 0px;
  float: right;
}

.xsFootRight {
  margin-right: 0em;
  margin-left: 0em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px 10px 0px 0px;
  float: right;
  font-size: 2vw;
}

.xxsFootRight {
  margin-right: 0em;
  margin-left: 0em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 10px 0px 0px;
  float: right;
  font-size: 1.8vw;
}

.socialFooter {
  margin-top: 0px;
  clear: both;
  background-color: #dd5828;
  height: 60px;
  width: 100%;
  bottom: 0;
  padding: 10px 25px 0px 0px;
}

/* Use this to transition icons */
.iconTrans,
.iconTrans:hover,
.iconTrans:focus {
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.socialFooter>.text-right>.iconTrans {
  color: #ffffff;
  /*E04F4F*/
}

.socialFooter>.text-right>.iconTwitter:hover {
  color: #00ACED !important;
  /* 2B2B2B */
}

.socialFooter>.text-right>.iconFacebook:hover {
  color: #3B5998 !important;
  /* 2B2B2B */
}

.socialFooter>.text-right>.iconInstagram:hover {
  color: #517fA4 !important;
  /* 2B2B2B */
}

.socialFooter>.text-right>.iconLinkedIn:hover {
  color: #007BB6 !important;
  /* 2B2B2B */
}

.vertIcon {
  padding-left: 5px;
}

/* Theme CSS Edits */
.container .navbar-nav li.active a:hover {
  background-color: #01a490;
  /*#A8AB00*/
}

.container .navbar-nav li.active a:focus {
  background-color: #01a490;
  /*#A8AB00*/
  ;
}

.navbar-default .navbar-nav .open>a {
  background-color: #01a490;
  /*#A8AB00*/
}

.navbar-default .navbar-nav .open>a:hover {
  background-color: #01a490;
  /*#A8AB00*/
}

.navbar-default .navbar-nav .open>a:focus {
  background-color: #01a490;
  /*#A8AB00*/
}

.navbar-nav li.dropdown li>a:hover {
  background-color: #01a490;
  /*#A8AB00*/
}

.navbar-nav li.dropdown li>a:focus {
  background-color: #01a490;
  /*#A8AB00*/
}

.navbar .container .navbar-nav li.active .fa-caret-down {
  color: #01a490;
  /*#A8AB00*/
}

.navbar-nav li.dropdown li>a {
  color: #333333;
}

.navbar-nav li.dropdown li>a:hover {
  color: #FFFFFF;
}

.navbar .container .navbar-nav.pull-right li a i:first-of-type {
  border-color: #FFFFFF;
}

.badge {
  background-color: undefined;
}

/* Change Shopping Cart Indicator Number Color */
.badge {
  color: #FFFFFF;
}

.navbar-default {
  background-color: #006b6b;
  /*0B3648*/
}

.container .navbar-nav li a {
  color: #FFFFFF;
}

.container .navbar-nav li.active>a {
  background-color: #01a490;
  /*#A8AB00*/
}

.container .navbar-nav li.active>a {
  color: undefined;
}

.navbar-default, .dropdown-mega {
  border-color: ;
}

body {
  background-color: #ffffff;
}

body {
  color: #333333;
}

.text-primary {
  color: #000000;
}

.text-info {
  color: #31708F;
}

body a {
  color: #ed1c24;
}

.btn-primary {
  background-color: #0B3648;
}

.btn-primary, .btn-primary:hover {
  color: #FFFFFF;
}

.btn-primary {
  border-color: #081B24;
}

.btn-primary:hover {
  background-color: #051118;
}

.btn-default {
  background-color: #FFFFFF;
}

.btn-default, .btn-default:hover {
  color: #333333;
}

.btn-default {
  border-color: #CCCCCC;
}

.btn-default:hover {
  background-color: #EBEBEB;
}

.btn-info {
  background-color: #5BC0DE;
}

.btn-info, .btn-info:hover {
  color: #FFFFFF;
}

.btn-info {
  border-color: #46B8DA;
}

.btn-info:hover {
  background-color: #39B3D7;
}

.btn-success {
  background-color: #636466;
}

.btn-success, .btn-success:hover {
  color: #FFFFFF;
}

.btn-success {
  border-color: #636466;
}

.btn-success:hover {
  background-color: #0060af;
}

.btn-warning {
  background-color: #f0ad4e;
}

.btn-warning, .btn-warning:hover {
  color: #FFFFFF;
}

.btn-warning {
  border-color: #EEA236;
}

.btn-warning:hover {
  background-color: #ED9C28;
}

.btn-danger {
  background-color: #E04F4F;
  /*D9534F*/
}

.btn-danger, .btn-danger:hover {
  color: #FFFFFF;
}

.btn-danger {
  border-color: #D43F3A;
}

.btn-danger:hover {
  background-color: #D2322D;
}

.jumbotron {
  border-radius: 25px;
  /* add for rounded borders $ak */
  margin: 45px 10px -45px;
  display: none;
  background-color: #ffffff;
}

h2 .jumbotron {
  color: #FFFFFF;
}

.panel-default {}

.panel-primary .panel-heading .panel-title {
  background-color: #a92b31;
}

.panel-primary .panel-heading .panel-title {
  color: #FFFFFF;
}

/*Below added to create alternate Heading colo */
.panel-primary-orange {
  background-color: #dd5828;
}

.panel-primary-orange .panel-heading .panel-title {
  color: #FFFFFF;
}

.panel-primary-orange {
  border-color: #cccccc;
}

.panel-primary-orange>.panel-heading {
  color: #ffffff;
  background-color: #0c2a3a;
  border-color: #cccccc;
}

.panel-primary-orange>.panel-heading+.panel-collapse .panel-body,
.panel-primary-orange>.panel-heading+.panel-collapse .panel-category-list:not(.no-panels),
.panel-primary-orange>.panel-heading+.panel-collapse .panel-product-list:not(.no-panels),
.panel-primary-orange>.panel-heading+.panel-collapse .panel-lineitem,
.panel-primary-orange>.panel-heading+.panel-collapse .panel-order-history,
.panel-primary-orange>.panel-heading+.panel-collapse .panel-order-shipping-multiple {
  border-top-color: #cccccc;
}

.panel-primary-orange>.panel-footer+.panel-collapse .panel-body,
.panel-primary-orange>.panel-footer+.panel-collapse .panel-category-list:not(.no-panels),
.panel-primary-orange>.panel-footer+.panel-collapse .panel-product-list:not(.no-panels),
.panel-primary-orange>.panel-footer+.panel-collapse .panel-lineitem,
.panel-primary-orange>.panel-footer+.panel-collapse .panel-order-history,
.panel-primary-orange>.panel-footer+.panel-collapse .panel-order-shipping-multiple {
  border-bottom-color: #cccccc;
}

.panel.panel-primary-orange .panel-heading {
  margin-top: 0;
}

/* End for alternative Header color */
.panel-default .panel-heading .panel-title {
  background-color: #cdcdcd;
}

.panel-default .panel-heading .panel-title {
  color: #333333;
}

.panel-heading {
  border-radius: 25px 25px 0px 0px;
  /* add for rounded borders $ak */
}

.panel-title {
  border-radius: 25px 25px 0px 0px;
  /* add for rounded borders $ak */
}

.panel {
  border-radius: 25px;
  /* add for rounded borders $ak */
  background-color: #FFFFFF;
}

.panel-footer {
  background-color: #F5F5F5;
}

.address-list-view .panel {
  border-radius: 25px 25px 0px 0px;
  /* add for rounded borders $ak */
}

.ng-pristine .panel {
  border-radius: 25px 25px 0px 0px;
  /* add for rounded borders $ak */
}

.roundBorders {
  border-radius: 25px 25px 0 0;
  /* add for rounded borders $ak */
}

.order-search-view .panel {
  border-radius: 25px;
  /* add for rounded borders $ak */
}

.panel-category-list .well {
  background-color: #FFFFFF;
}

.panel-category-list .well h5 {
  color: #333333;
}

.panel-category-list .well {
  border-color: #ffffff;
}

/* Adjust product list border/backgrounds $ak */
.panel-product-list {
  border-radius: 0;
  border-color: transparent;
}

.panel .panel-heading {
  /* border-top: 2px solid #ffffff; */
  /* Removed $ak */
  padding: 0;
}

/*.panel-product-list {
    border-radius: 0px;
    border-color: transparent;
}
.panel-product-list .well {
  background-color: transparent;
}
.panel-product-list .aLinkSpacingFix {
  color: #333333;
}
.panel-product-list .well {
  border-color: transparent;
}/*Changes size of images on category page*/
/*.thumbnail img {
  max-height: 100px; /*must match smallest size of thumbnail image*/
/*max-width: 100%;
  margin: 0 auto 15px;
}*/