<section class="jumbotron" ng-class="{'active': isActive('catalog')}" ng-show="user.Company.LogoUrl">
    <customcarousel></customcarousel>
    <!-- <div class="container"> -->
        <!-- <div class="row jumboHeaderText"> --> <!-- pull-left if left allignment wanted again -->
            <!-- <div ng-show="Four51User.isAuthenticated()">
                <a ng-click="refreshUser()" href="catalog"> -->
                    <!-- Insert image file here -->
                    <!-- <img src="images/ymca-color-branding-120.png" width="100%" alt="Add text that describes image for visually impaired or text browsers"/> -->
                <!-- </a>
                <h2 class="thumbnail"> -->
                    <!-- <span class="jumboHeaderText">
                    {{user.Company.Name}}
                </span> -->
                <!-- </h2>
                <homemessage />
            </div> -->
        <!-- </div> -->
    <!-- </div> -->
</section>
