<section>
  <!-- Edit Announcement Here -->
  <!-- <br> <div class="panel panel-primary"> <div class="panel-heading"> <h2 class="panel-title panel-primary"> {{'Announcement' | r | xlat}} </h2> </div> <div class="panel-body"> <h4 class="TOPcenter">National Service Gear Customer Service will be
  closed Friday, March 25th, in observance of Good Friday. National Service Gear wishes you and your family a safe and Happy Holiday weekend.</h4> </div> </div> <br> -->
  <!-- End Announcement -->
  <!-- Camp Disclaimer -->
  <div class="panel panel-primary" ng-show="(currentCategory.Name === 'Camp-Purchase Power')">
    <div class="panel-heading">
      <h2 class="panel-title panel-primary">
        {{'Camp Purchase Power Ordering Schedule' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="TOPcenter">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Purchase Power (PP) pricing ends 4/5/19. All orders received 4/5/19 or before are guaranteed to ship the week of 5/13/19. Orders received after 4/5/19 will begin shipping the week of 5/20/19. After July 1, 2019 there will be limited stock
        available. All orders placed
        through PP are held and combined with other PP orders for one mass print run thus providing you these super low prices. No minimums required for standard PP orders. All orders must be received at Crown USA by 4/5/19 to qualify for PP
        pricing. Any
        orders received after 4/5/19 will be billed at regular price and will be shipped the week of 5/20/19. No returns or exchanges will be accepted after July 15, 2019.</h4>
      <h4 class="TOPcenter">For customization (2nd locations or completely custom), early delivery (order deadline 3/8/19) or questions, please call customer service toll free at 1-877-742-5686. Orders, at PP price, with custom 2nd location will
        ship the week of 5/20/19.</h4>
    </div>
  </div>
  <!-- End Camp Disclaimer -->
  <!-- Healthy Kids Disclaimer -->
  <div class="panel panel-primary-orange" ng-show="(currentCategory.Name === 'PP-Healthy Kids Day')">
    <div class="panel-heading">
      <h2 class="panel-title panel-primary-orange">
        {{'Healthy Kids Day Ordering Schedule' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="TOPcenter">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>All Orders placed prior to 11:59pm on 3/8/19 will be guaranteed to ship the week of 4/8/19 --4/12/19.</h4>
    </div>
  </div>
  <!-- Halloween Disclaimer -->
  <div class="panel panel-primary-orange" ng-show="(currentCategory.Name === 'PP-Halloween')">
    <div class="panel-heading">
      <h2 class="panel-title panel-primary-orange">
        {{'PP-Halloween Ordering Schedule' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="TOPcenter">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Please check back in the fall.</h4>
    </div>
  </div>
  <!-- Togetherhood Disclaimer -->
  <br>
  <div class="panel panel-primary" ng-show="(currentCategory.Name === 'Togetherhood')">
    <div class="panel-heading">
      <h2 class="panel-title panel-primary">
        {{'Togetherhood Ordering Schedule' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="TOPcenter">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Orders are collected each 2nd and 4th Thursday of each month (respective of holidays) and will be shipped 10-15 business days later (respective of weekends and holidays).</h4>
    </div>
  </div>
  <br>
  <!-- End Togetherhood Disclaimer -->
  <!-- Running Purchase Power Disclaimer -->
  <!-- <br> <div class="panel panel-primary" ng-show="(currentCategory.Name === 'RP - Running Purchase Power' || currentCategory.Name === 'RPY-Polos' || currentCategory.Name === 'RPY-Tees' || currentCategory.Name === 'RPY-Outerwear' ||
  currentCategory.Name === 'RPY-Twills')"> <div class="panel-heading"> <h2 class="panel-title panel-primary"> {{'***This program is ending 12/21/17***' | r | xlat}} </h2> </div> <div class="panel-body"> <h4 class="TOPcenter"><i class="fa
  fa-exclamation-circle" aria-hidden="true"></i> All orders received from 11/17/17 to 11/30/17 will ship out by 12/22/17. All orders received from 12/1/17 to 12/21/17 will ship out by 1/12/18. None of these items are expected to be able to be delivered
  by Christmas. If you are looking to gift any of these items, please contact us about a custom order and we will gladly assist you.</h4> </div> </div> <br> -->
  <!-- End Running Purchase Power Disclaimer -->
  <!-- Print to Order Disclaimer -->
  <br>
  <div class="panel panel-primary" ng-show="(currentCategory.Name === 'Print to Order')">
    <div class="panel-heading">
      <h2 class="panel-title panel-primary">
        {{'DISCLAIMER' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="TOPcenter">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Please allow 15 business days, from the APPAREL STORE’s receipt of your order, to receive any in-stock items. Please see the “Shipping Rates and Policies” section of the
        <a href="https://www.ymcastore.org/shop/contactus">“Contact Us”</a>
        tab for more details. Digitally Printed items, not eligible for rush service without customer service approval, please call 877-742-5686 for assistance.</h4>
    </div>
  </div>
  <br>
  <!-- End Print to Order Disclaimer -->
  <nav id="451qa_nav_hdr" class="nav">
    <ul>
      <li class="hidden-sm hidden-xs">
        <span ng-click="toggleNav()">
          <i class="fa fa-bars" ng-class="{ 'text-info': navStatus.visible }"></i>
        </span>
      </li>
      <li>
        <span id="451_lbl_curcat" class="text-primary" ng-bind-html="currentCategory.Name || '  {{'Categories' | r | xlat}}'"></span>
      </li>
      <li class="customSearchBar">
        <productsearchinput></productsearchinput>
        <!-- <a href="search"> <span><i class="fa fa-search text-primary"></i></span> </a> -->
      </li>
    </ul>
  </nav>
  <div class="row">
    <aside class="col-md-3 visible-md visible-lg" ng-if="navStatus.visible">
      <div class="panel panel-default panel-nav">
        <div class="panel-heading panel-top-rounded">
          <h3 class="panel-title">
            {{'Category List' | r | xlat}}
          </h3>
        </div>
        <nav class="nav 451qa_sidenav panel-body">
          <ul>
            <categorycollapse tree='tree' current='currentCategory'></categorycollapse>
          </ul>
        </nav>
      </div>
    </aside>
    <div ng-class="{ 'col-md-9': navStatus.visible, 'col-md-12': !navStatus.visible }">
      <!-- Above Category Message -->
      <br>
      <div class="categoryPanel text-center" ng-show="(currentCategory.Name === {{'Categories' | r | xlat}})">
        <!-- <h2 class="colorBlack"><strong>Welcome to the YMCA Webstore!</strong></h2>
        <h4>Your resource for high quality apparel</h4> -->
        <!-- <ul>
          <li>Shipping suspended from 9/4-9/7 for inventory.</li>
          <li>Stocked items will ship within 5-7 business days.</li>
        </ul> -->
        <br>
        <h4>Please note, any order that has a rush request, such as a 2nd day air or next day air, will not ship until after the 5-7 day order process. Please call our customer service number for more details on how we can work with your deadline.</h4>
        <h4>Top Promotions will continue to make every effort to keep costs low but due to increases in tariffs on product inbound into the USA, it is possible that pricing will need to be adjusted accordingly. Pricing is subject to change without
          notice.</h4>
      </div>
      <br>
      <!-- End Message -->
      <categorylistview></categorylistview>
      <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}" />
      <!-- Below Category Message -->
      <!-- <br>
      <div class="categoryPanel" ng-show="(currentCategory.Name === {{'Categories' | r | xlat}})">
        <ul>
          <li>Orders will be accepted until XXX and product will ship by XXX.</li>
          <li>Each item is custom made just for you, we appreciate your understanding that returns are not accepted except in the case of defective product.</li>
        </ul>
      </div>
      <br> -->
      <!-- End Message -->
      <productlistview></productlistview>
    </div>
  </div>
</section>