<div class="panel-body contactUsList" style="font-family:sans-serif">
    <h3>Customer Service Hours & Info</h3>
        <p>
            <ul>
                <li>Monday-Friday (Excluding holidays)</li>
                <li>8:00 am - 5:00 pm (Central Time)</li>
                <li>Toll Free: (877)742-5686</li>
                <li>Email: ymcastore@toppromotions.com</li>
                <li>Mail: APPAREL STORE</li>
                <li>c/o Top Promotions</li>
                <li>8831 S Greenview Dr</li>
                <li>Middleton, WI 53562</li>
                <li>Fax: 608-836-1640</li>
            </ul>
        </p>
        
    <h3>For Customized Items or Special Orders</h3>
        <p>
            <ul>
                <li>877-742-5686</li>
                <li>ymcastore@toppromotions.com</li>
            </ul>
        </p>

    <h3>Contact the Program Store</h3>
        <p>Call 800-747-0089 for YMCA Books, manuals, videos and CDs and other materials designed to strengthen YMCA programs and operations. Call or visit www.ymcaprogramstore.com.</p>

    <h3>Return/Exchange Information</h3>
        <p>Contact Customer Service toll free at 877-742-5686 for ALL returns/exchanges of product. Once your return/exchange has been authorized, CLICK HERE to access a copy of our return/exchange form. Complete the form and return with the items(s) you need to return/exchange. Once we have received the items accompanied by the form, we will process your return/exchange.</p>
        <p>We will ONLY accept returns or exchanges of non-discontinued/closeout or non-Purchase Power items within 30 days of receipt of your order.</p>
        <p>
            <strong>Returns of closeout, discontinued and Purchase Power items are limited to flawed workmanship.</strong>
        </p>

    <h3>Shipping Rates and Policies</h3>
        <p>All online orders are shipped via UPS Ground Shipping or US Postal Service and your rates are calculated based on the current posted rates for these services.</p>
        <p>There will be a 15 business day production period for items that are not in inventory. See each item description to determine if an item is a stock item or custom. Stock items will ship out within 10 business days of the order being placed. Please note, the day the order is submitted DOES NOT count as the first day.</p>
        <p>Inventory is tracked, once a week, for most items on this site. Please note that if you place an order for an item that is currently on backorder, it may require the 15 days of production before it will ship.</p>
        <p>*APPAREL STORE is now able to accommodate International shipping. For more information contact Customer Service.</p>

    <h3>Our Guarantee</h3>
        <p>We want to you have an enjoyable shopping experience. If you find there is a problem with your order, please contact Customer Service toll-free at 877-742-5686.</p>

    <h3>Security</h3>
        <p>We take great precautions to protect the integrity of the credit card information you submit on this site. You can feel assured that when you enter your credit card information you will go into a secured session, at which point our server will encrypt (or scramble) the credit card data so that it cannot be read in transit. For added security, your credit card information will not be stored.</p>

    <h3>Items & Brands We Offer</h3>
        <p>APPAREL STORE offers items from top-quality brands such as Alstyle, Gildan, District Made, Clique, Port Authority, Port & Company, SportTek, BIC Graphic, Hit Promo, Gemline and Colorado Timbeline. These apparel manufacturers have a reputation for crafting high-quality apparel and promotional products so staff can take pride in what they wear and carry to work or play.</p>

    <h3>Changing Orders</h3>
        <p>All orders are processed immediately after confirmation, so submitted orders are considered final. We will try to accommodate order changes or cancelation requests, but cannot guarantee our ability to complete them.</p>
        <p>Contact Customer Service toll-free at 1-877-742-5686 for order changes or cancelation requests. All change requests are subject to additional charges which will be quoted and billed separately.</p>

    <h3>Purchase Power</h3>
        <p>Purchase Power is a way for APPAREL STORE to give its customers discounted pricing on specially offered apparel during certain times throughout the year.</p>
        <p>During a Purchase Power program, orders are taken through a deadline date. After the deadline has passed, we compile all orders and produce only enough garments to fill the orders received. Once printing is complete, orders are picked and shipped, shipping on or before the guaranteed “ship by” date.</p>
        <p>Due to ordering deadlines and guaranteed “ship by” dates, orders for Purchase Power merchandise CANNOT be combined with each other, regular catalog items or discontinued/closeout items.</p>

    <h3>Running Purchase Power</h3>
        <p>Running Purchase Power is a way for APPAREL STORE to give its customers great pricing on lots of different colors and styles of apparel but with low to no overhead cost that lead to higher prices.</p>
        <p>Running Purchase Power orders are collected every 1st and 3rd Thursday of the month and are shipped 3 weeks later. We compile all orders and produce only enough garments to fill the orders received. Once production is complete, orders are picked and shipped, shipping on or before the estimated ship date.</p>
        <p>Due to ordering deadlines and extended ship by dates, orders for Running Purchase Power merchandise CANNOT be combined with regular catalog items, regular Purchase Power items or discontinued/closeout items.</p>

    <h3>Payment Options</h3>
        <p>We accept Visa, MasterCard, Discover and American Express credit cards, as well as purchase orders for online payment. For customized orders, credit applications or assistance with ordering, please call Customer Service toll-free at 877-742-5686.</p>
        <p>***Please note that funds will be authorized from your credit card when you place an order, but funds will not actually be captured until your order is shipped.***</p>
        <p>Checks and Money Orders are accepted with an order form. Order forms are available in the catalog or you can call Customer Service and they will provide one to you.</p>

    <h3>Sales Tax</h3>
        <p>We will charge sales tax for orders that are delivered to Wisconsin. Unfortunately at this time, our system cannot accommodate online tax exempt orders. If you live in Wisconsin and are tax exempt, please contact Customer Service at 877-742-5686 to place your order. A tax exemption form will need to be provided to Top Promotions and can be faxed to 608-836-1640.</p>
        <p>To obtain an exemption form and instructions, <a href="https://www.revenue.wi.gov/forms/sales/s-211f.pdf"target="_blank">click here</a>.</p>

    <h3>About Top Promotions and Y-USA Alliance</h3>
        <p>Top Promotions, located in Middleton, WI, is a leader in the apparel embellishment business, having served Y's as a national Preferred Vendor since 1990 (as Crown USA, acquired by Top Promotions in 2008). All aspects of its work is handled onsite, including order taking, embellishing, invoicing and shipping. Onsite screen printing and embroidery machines ensure quality control and the ability to produce 20,000-30,000 garments a day. Top Promotions utilizes several apparel vendors to assure quality and value to our Y customers and Top Promotions pledges to bring its expertise and operational support to APPAREL STORE.</p>
</div>
