<div class="panel-body" style="font-family:sans-serif">
  <h3>Custom Options</h3>
  <p>
    <ul>
      <li>
        <strong><a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/YMCA/docs/Team-Sports-Custom-2019.pdf" target="_blank">Team Sports Program templates</a></strong>
      </li>
      <li>
        <strong><a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/YMCA/docs/Camp-Anywhere-Templates-2019.pdf" target="_blank">Camp templates</a></strong>
      </li>
    </ul>
  </p>
</div>