<div class="panel-body" style="font-family:sans-serif">
    <h3>Custom Options</h3>
    <p>
        <ul>
            <li>
                <strong><a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/YMCA/docs/YMCA_Catalog_2016_Page_14.pdf" target="_blank">Team Sports Program templates</a></strong>
            </li>
            <li>
                <strong><a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/YMCA/docs/YMCA_Catalog_2016_Page_15.pdf" target="_blank">Benefit Statement templates</a></strong>
            </li>
        </ul>
    </p>
</div>
