<div class="panel-body pageBullets" style="font-family:sans-serif">
  <h3>Custom Options</h3>
  <p>
    <ul>
      <li>
        <strong><a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/YMCA/docs/Team-Sports-Programs.pdf" target="_blank">Team Sports Program Templates</a></strong>
      </li>
      <li>
        <strong><a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/YMCA/docs/Custom-Designs.pdf" target="_blank">Custom Designs</a></strong>
      </li>
    </ul>
  </p>
</div>