<div class="panel-body">
    <p>
        Welcome to the NEW Apparel Store.  If you have used the Apparel Store website in the past, we have imported your data into this new site!  
    </p>
    <p>
        Your user name is your e-mail address.  On your first visit your password is: Password1
    </p>
    <p>
        After you log in, please go to the self-admin section and update your password to something of your own choosing that is at least 8 characters long and contains at least one number and one character.
    </p>
    <p>
        If you haven't visited the site previously or if your e-mail isn't working as your username, feel free to register as a new user.
    </p>
    <p>
        If you have any questions, please contact customer service at 877-742-5686!
    </p>
</div>