<div class="panel-body">
    <p>
        USPS 2 or 3 Day Priority is the default "Ground" option for US Postal Service.  This shipping choice does not expedite your order processing time.
    </p>
    <p>    
        No rush orders between 9/3-9/5 will not be accommodated due to fiscal year end inventory. Please call customer service at 877-742-5686 with questions or concerns.
    </p>
    <p>If your orders weighs more than 150lbs (roughly equivalent to 300 T-shirts) the UPS and USPS freight calculators will not work so</p>
    <p>you most likely can't select a shipping method.  Please call customer service at 877-742-5686 to place your order.</p>
    <p>Orders are processed in 7-10 business days>
    <p>Please note Crown USA (CUSA) is a subsidiary of Top Promotions, Inc.  Any invoices or letters sent to you will be from Top Promotions, Inc.</p>
</div>